@CHARSET "UTF-8";

/* 
    Document   : style
    Created on : 05.05.2012, 23:29:39
    Author     : lucian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #BCBCBC;
}

#content {
	background: #BCBCBC;
	color: #333333;
	font-weight: bold;
	width: 80%;
	margin: 0 auto;
}

#promt {
	margin: 20px auto;
	padding: 5px;
	width: 100%;
	background: #E9E9E9;
	width: 100%;
}

#header {
	background: #FF9900;
	color: #424242;
	font-size: 4em;
	padding: 0.5em;
	margin: 0 0 20px 0;
	font-weight: bold;
}

#plot {
	width: 600px;
	margin: 0px auto;
	height: 400px;
}

#plotspace {
	margin: 20px 40px;
	background: #E9E9E9;
}